[Desktop Entry]
Name=Gnubik
GenericName=Gnu Magic Cube Puzzle
Comment=3D puzzle similar to Rubik's cube
Exec=gnubik
Icon=gnubik.png
StartupNotify=false
Terminal=false
Type=Application
Categories=Game;3DGraphics;GTK
